.blog-post {
    background-color: #fff;
    margin-bottom: 100px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out;
}

.blog-img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
}